
body {
            margin: 0;
            padding: 8px;
            font-family: 'Sohne', sans-serif;
        }

:root {
  
        --header-size: 3em; 
}

    @font-face {
        font-family: 'Sohne';
        src: url(SohneMono-Kraftig.otf) format('opentype');
        font-weight: normal;
        font-style: normal;
}

    @font-face {
        font-family: 'FixedSys';
        src: url(Fixedsys-Excelsior-Regular.ttf) format(truetype);
        font-weight: normal;
        font-style: normal;
}

h2 span {
    text-align: center;
    font-size: 15px ;
    font-family: 'Sohne';
    height: 400px;
    width: 0px;
    position: absolute;
    margin: 0 auto;
    }
    .c1 {
    transform: rotate(6deg);
    }
    .c2 {
    transform: rotate(12deg);
    }
    .c3 {
    transform: rotate(18deg);
    }
    .c4 {
    transform: rotate(24deg);
    }
    .c5 {
    transform: rotate(30deg);
    }
    .c6 {
    transform: rotate(36deg);

    }
    .c7 {
    transform: rotate(43deg);

    }
    .c8 {
    transform: rotate(48deg);

    }
    .c9 {
    transform: rotate(54deg);

    }
    .c10 {
    transform: rotate(60deg);
    }

        .container {
            width: 100%;
            max-width: 600px;

            margin: 0 auto; /* This centers the container horizontally */
            text-align: center; /* This centers the text inside the container */
            padding: 1px;
            z-index: 0;
        }
                p {
                transition: color .1s ease-in;
                }



        .container2 {
            max-width: 600px;
            margin: 0 auto; /* This centers the container horizontally */
            text-align: center; /* This centers the text inside the container */
            padding: 0px;
            z-index: 2;
            animation: pulse 3.5s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }


        #BlackSphere {
            background-color: #000000;
            left: 48%;
            position: fixed;
            text-align: center;
            margin: 0 auto;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            z-index: -4;
            padding: 0%;
            display: block;
            overflow: hidden;
            top: 100%;
            transition: all 0.6s ease-in;
            
        }

        #BlackSphere.wave {
            scale: 70;
        }
        
        /* Media query for smaller screens */
        @media screen and (max-width: 768px) {
            .container.container2.blacksphere {
                flex-direction: column;
                width: 10%;
            }
        }
        .clickable-image {
            transition: transform 0.35s ease-in-out;
        }
        .clicking .clickable-image {
            transform: scale(3);
        }
        h1 {
            font-family: 'FixedSys';
            font-size: var(--header-size, 3em);
        }


        .one {

        color: black         
    
    }
        
       .white-text {

        color: white         
    
    }

        .external-link {
            cursor: pointer;
        }



          

    